<div
        class="col-md-6 col-lg-4 mb-5"
        data-aos="fade-up"
        data-aos-delay="100"
>
    <div class="media-image">
        <f:for each="{images}" as="image">
            <img src="{image.publicUrl}" alt="Image" class="img-fluid">
        </f:for>
        <div class="media-image-body">
            <h2 class="text-primary text-uppercase">
                <f:format.nl2br>{data.header}</f:format.nl2br>
            </h2>
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</div>