<f:layout name="Homepage" />

<f:section name="Main">
    <!-- iconboxes -->
    <div class="site-section first-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 text-center aos-init aos-animate" data-aos="fade">
                    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '0')}
                </div>
            </div>
            <div class="row border-responsive">
                {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '1')}
                {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '2')}
                {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '3')}
                {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '4')}

                <div class="col-md-12 text-center mt-5 mb-1 mb-md-0">
                    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '5')}
                </div>
            </div>
        </div>
    </div>
    <!-- Bild / Text Kombinationen -->
    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '6')}
    <!-- messages-->
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12" data-aos="fade">
                    {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '7')}
                </div>
            </div>
            <div class="row">
                {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '8')}
            </div>
        </div>
    </div>
</f:section>
