<div class="site-half block">
    <f:for each="{images}" as="image">
        <div
                class="img-bg-1 right"
                style="background-image: url('{image.publicUrl}');"
                data-aos="fade"
        ></div>
    </f:for>

    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-lg-5 mr-lg-auto py-5">
              <span class="caption d-block mb-2 font-secondary font-weight-bold"
              >{data.subheader}</span
              >
                <h2
                        class="site-section-heading text-uppercase text-primary mb-5"
                >
                    <f:format.nl2br>{data.header}</f:format.nl2br>
                </h2>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </div>
</div>